body {
    font-family: "Inter", sans-serif;
  }

  
p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    color: black;
}

h1,h2, h3{
    text-align: center;
    margin-top: 40px;
    color: black;
}
